<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Renderer{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% for item in scaffold.header.menu.navigation %}
                    <li><a href="{{ item.link }}">{{ item.label }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>{{ footer.text }}</p>
    </footer>

</body>
</html>